g.graph-edge > text{
  font-size: 0.7em;
  fill:#c8c8c8;
}


g.graph-edge > path{
  stroke: #ccc;
  stroke-width:1
}
g.graph-edge > path.highlight{
  stroke: yellow;
}
g.graph-edge > path.highlight + text + text,
g.graph-edge > path.highlight + text{
  font-size: 0.8em;
  fill:dimgray;
}

g#diagram.highlight > g.graph-edge > path:not(.highlight),
g#diagram.highlight > g.graph-edge > path:not(.highlight) + text{
  opacity: 0.1
}
