g.graph-vertex,g.graph-vertex-fn {
  cursor: pointer
}
g.graph-vertex > rect{
  fill:none;
  stroke-width: 1
}
g.graph-vertex-fn > rect{
  fill:none;
  stroke-width: 1
}

g#diagram.highlight > g > g.graph-vertex:not(.highlight),
g#diagram.highlight > g > g.graph-vertex:not(.highlight) + g {
  opacity: 0.1
}

g.graph-vertex.highlight > rect{
  fill: lightyellow
}
g.graph-vertex.matched > rect{
  fill: orange
}
g.graph-vertex.matched > text{
  fill: snow
}
/*g.graph-vertex.matched {
  stroke:orange
}*/