.app-navbar{
  display:  block;
  background-color: #ccc;
}
.active-link{
  color:green
}
.app-navbar ul{
  list-style: none;
}
.app-navbar ul li{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}